
section > div > .DemoBox > .DemoBox_output {
    border-left: 10px double #aaa;
    padding-left: 10px;
    margin: 0 10px;
}


.head-left {
    width: 500px;
}

.head {
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
}

.head span {
    display: inline-block;
    padding: 7px 10px;
    font-weight: bold;
}

