
#main {
    max-width: 1500px;
}

section.themes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.themes-list > div {
    width: 32%;
}

img {
    width: 100%;
    box-shadow: 0 3px 5px #aaa;
}

table {
    font-size: 17px;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
    margin: 10px auto 50px;
    max-width: 100%;
}

table th,
table td {
    padding: 5px 10px;
    border: none;
}

table th {
    background-color: #e0e0e0;
}
